@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

/* nav bar */

.right {
    float: right;
    color: rgb(207, 167, 167)
}

.left {
    float: left;
}

.mla {
    margin-left: auto;
}

.container {
    display: block;
    justify-content: space-around;
    max-width: 90% !important;
}
/*Start Quiz*/
.Start Quiz {
  display: block;
  align-items: center;
  justify-content: center;
}

/*nav*/

#nav {
    
    display: block;
    background-color: rgb(190, 177, 161);
    display: inline-block;
    width: 98vw;
    border: 3px solid #ffe3eb;
    border-radius: 5px;
    margin: 6px;
}

/* main section */

body {
    font-family: 'Roboto Slab', arial;
    background-color: #2b090c63;
}

#quizBody {
    text-align: center;
    padding: 12vh;
}

h2 {
    padding: 10px 8px 10px 8px;
}

a {
    text-decoration: none;
    color: rgb(109, 70, 70);
}

button {
    border: none;
    background-color: #e0b2b6;
    color: rgb(209, 185, 175);
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 17px;
    font-family: 'Roboto Slab', arial;
    margin: 4px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: #946e78;
}

#quiz {
    text-align: center;
}


#optionContainer {
    display: none;
}
Shared in
